#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2,sphinxdoc

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C doc html man BUILDDIR=$(CURDIR)/build/docs

override_dh_install:
	install -D -m 0640 $(CURDIR)/etc/jenkins_jobs.ini-sample \
		$(CURDIR)/debian/tmp/etc/jenkins_jobs/jenkins_jobs.ini
	dh_install

get-orig-source:
	uscan --noconf --force-download --rename --repack --destdir=.
