#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with-python2

override_dh_auto_build:
	dh_auto_build
	python setup.py build_sphinx

override_dh_install:
	install -D -m 0640 $(CURDIR)/etc/jenkins_jobs.ini-sample \
		$(CURDIR)/debian/tmp/etc/jenkins_jobs/jenkins_jobs.ini
	dh_install

get-orig-source:
	@@[ -d ../tarballs/. ] || mkdir -p ../tarballs
	uscan --verbose --force-download --rename --destdir=../tarballs
